{% extends 'base.html.twig' %}


{% block body %}
        <div class="container photo" style="background-image: url({{ asset('img/kak-sostavit-rezyume.jpg') }});"></div>

        <div class="container wrap-home">
            <div class="box black span4" ontablet="span6" ondesktop="span4">
                <div class="box-header">
                    <h2><i class="halflings-icon white user"></i><span class="break"></span>Last Users Metro Style</h2>
                    <div class="box-icon">
                        <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                        <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <ul class="dashboard-list metro">
                        <li class="green">
                            <a href="#">
                                <img class="avatar" alt="Dennis Ji" src="img/avatar.jpg">
                            </a>
                            <strong>Name:</strong> Dennis Ji<br>
                            <strong>Since:</strong> Jul 25, 2012 11:09<br>
                            <strong>Status:</strong> Approved
                        </li>
                        <li class="yellow">
                            <a href="#">
                                <img class="avatar" alt="Bill" src="img/avatar.jpg">
                            </a>
                            <strong>Name:</strong> Dennis Ji<br>
                            <strong>Since:</strong> Jul 25, 2012 11:09<br>
                            <strong>Status:</strong> Pending
                        </li>
                        <li class="red">
                            <a href="#">
                                <img class="avatar" alt="Jane" src="img/avatar.jpg">
                            </a>
                            <strong>Name:</strong> Dennis Ji<br>
                            <strong>Since:</strong> Jul 25, 2012 11:09<br>
                            <strong>Status:</strong> Banned
                        </li>


                        <li class="blue">
                            <a href="#">
                                <img class="avatar" alt="Kate" src="img/avatar.jpg">
                            </a>
                            <strong>Name:</strong> Dennis Ji<br>
                            <strong>Since:</strong> Jul 25, 2012 11:09<br>
                            <strong>Status:</strong> Updated
                        </li>

                    </ul>
                </div>
            </div>
        </div>
{% endblock %}